.blockItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;

  &__content {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__leftDelimitator {
    border-left: var(--border-medium);
    border-left-width: 3px;
    margin-right: 16px;
  }
}
