.integrationBlock__heading,
.integrationBlock__content {
  padding: 16px;
}

.integrationBlock__heading {
  background-color: var(--background-secondary);
  border: none;
}

.integrationBlock__content {
  background: var(--background-primary);
  border: var(--border-weak);
  padding-bottom: 0;

  &--collapsedBorder {
    border-left: none;
    padding-left: 0;
  }
}
