.root {
  display: block;
}

.title {
  background: var(--background-primary);
  top: -15px;
  position: sticky;
  margin: -15px -15px 0 -15px;
  padding: 15px;
  z-index: 10;
}

.draggable {
  top: 10%;
  position: absolute;

  /* transition: transform 300ms ease; */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control {
  width: 195px;
}

.user-title {
  padding: 6px 10px;
  z-index: 1;
  color: #fff;
  width: 330px;
  overflow: hidden;
  white-space: nowrap;
}

.working-hours {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

.inline-switch {
  height: 18px;
}

.days {
  display: flex;
  gap: 14px;
  width: 100%;
}

.day {
  width: 28px;
  height: 28px;
  background: var(--secondary-background);
  border-radius: 2px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

.days .day__selected {
  background: #3d71d9;
}

.two-fields {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.two-fields > div {
  width: 50%;
}

.content {
  margin: 8px 0 16px 0;
}

.confirmation-modal {
  width: 500px;
}

.control--error {
  border: 1px solid var(--error-text-color);
}
