.body {
  margin: 15px -15px;
  padding: 15px 0;
  border-top: var(--border-medium);
  border-bottom: var(--border-medium);
}

.content {
  padding: 0 15px;
}

.override-form-content {
  padding: 15px 0;
}

.two-fields {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
}

.two-fields > div {
  width: 50%;
}

.inline-switch {
  height: 18px;
}

.active-periods {
  width: 100%;
}

.active-periods-content {
  padding-top: 8px;
}

.time-unit {
  width: 200px;
}

.user-item {
  position: relative;
}

.user-title {
  padding: 6px 10px;
  color: #fff;
  width: 330px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.working-hours {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

.days {
  display: flex;
  gap: 14px;
  width: 100%;
}

.days_disabled {
  pointer-events: none;
}

.day {
  width: 28px;
  height: 28px;
  background: var(--secondary-background);
  border-radius: 2px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

.days .day__selected {
  background: #3d71d9;
}

.confirmation-modal {
  width: 500px;
}

.control--error {
  border: 1px solid var(--error-text-color);
}

.updated-shift-info {
  margin-bottom: 10px;
  width: 100%;
}
