.verification-code {
  color: var(--primary-text-link);
}

.verification-code-text {
  display: flex;
  justify-content: space-between;
}

.automatic-connect-telegram-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.field-command {
  width: 100%;
  display: inline-block;
}
