.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

.header__title {
  display: flex;
  align-items: baseline;
}

.webhookName {
  word-break: break-word;
  padding: 0;
  &:hover {
    background: none;
  }
}

.nameColumn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.lastEventDetailsIcon {
  background: var(--secondary-background);
  padding: 2px;
}

.disabledBadge {
  word-break: keep-all;
}
