.header {
  display: flex;
  justify-content: space-between;
}

.align-top {
  vertical-align: top;
}

.no-author {
  background: #fff7e6;
}

.root .no-background {
  background: none;
}

.root .short-description {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  white-space: nowrap;
}
