<h4>How to start sending alerts to Grafana OnCall from NewRelic</h4>
<p>
    <ol>
    <li>1. Go to &quot;Alerts&quot;.</li>
    <li>2. Go to &quot;Notification Channels&quot;.</li>
    <li>3. Create &quot;Webhook&quot; notification channel.</li>
    <li>
        4. Set the following URL:
        <pre>{{ alert_receive_channel.integration_url }}</pre>
    </li>
    <li>5. Check &quot;Payload type&quot; is JSON.</li>
</ol>
</p>
<h4>Next steps:</h4>
<p><ol>
    <li>
        1. Add the routes and escalations in <code class='code-inline'>Escalations settings</code>
    </li>
    <li>
        2. Check grouping, auto-resolving, and rendering templates in
        <code class='code-inline'>Alert Templates</code> Settings
    </li>
    <li>
        3. Make sure all the users set up their <code class='code-inline'>Personal Notifications</code> Settings
        on the <code class='code-inline'>Users</code> Page
    </li>
</ol></p>