<h4>How to start sending alerts to Grafana OnCall from AlertManager</h4>
<p><ol>
    <li>
        1. Add the new receiver to the AlertManager configuration file:
        <pre>
        receivers:
        - name: 'grafana_oncall'
          webhook_configs:
          - url: {{ alert_receive_channel.integration_url }}
            max_alerts: 100
        </pre>
        2. Use receiver in route tree:
        </pre>
        routes:
          - matchers:
              - severity="critical"
            receiver: grafana_oncall
        </pre>
    </li>
</ol></p>
