<blockquote>
    Free-format Webhook is mostly used for custom integrations via scrips. Use any http client,
    e.g. curl to send POST requests with any payload.
</blockquote>

<h6>Request example:</h6>
<p>
<pre>
curl -X POST \
  {{ alert_receive_channel.integration_url }} \
  -H 'Content-Type: Application/json' \
  -d '{
    &quot;alert_uid&quot;: &quot;08d6891a-835c-e661-39fa-96b6a9e26552&quot;,
    &quot;title&quot;: &quot;The whole system is down&quot;,
    &quot;image_url&quot;: &quot;https://upload.wikimedia.org/wikipedia/commons/e/ee/Grumpy_Cat_by_Gage_Skidmore.jpg&quot;,
    &quot;state&quot;: &quot;alerting&quot;,
    &quot;link_to_upstream_details&quot;: &quot;https://en.wikipedia.org/wiki/Downtime&quot;,
    &quot;message&quot;: &quot;Smth happened. Oh no!&quot;
}'
</pre>
</p>

<h4>Next steps:</h4>
<p><ol>
    <li>
        1. Add the routes and escalations in <code class='code-inline'>Escalations settings</code>
    </li>
    <li>
        2. Check grouping, auto-resolving, and rendering templates in
        <code class='code-inline'>Alert Templates</code> Settings
    </li>
    <li>
        3. Make sure all the users set up their <code class='code-inline'>Personal Notifications</code> Settings
        on the <code class='code-inline'>Users</code> Page
    </li>
</ol></p>