<h4>How to start sending alerts to Grafana OnCall from AppDynamics</h4>

<p>Create a new HTTP Request Template in AppDynamics to send events to Grafana OnCall using the
    integration URL above.<br>
    Refer to AppDynamics documentation for more information on how to create HTTP Request Templates:<br>
    <a href="https://docs.appdynamics.com/appd/23.x/latest/en/appdynamics-essentials/alert-and-respond/actions/http-request-actions-and-templates"
       target="_blank">
        https://docs.appdynamics.com/appd/23.x/latest/en/appdynamics-essentials/alert-and-respond/actions/http-request-actions-and-templates
    </a>
</p>

<p>Use the following values when configuring a new HTTP Request Template:</p>

<p>
    <b>Request URL:</b>
    <br>
    Method: <code>POST</code>
    <br>
    Raw URL: <code>Integration URL above</code>
</p>

<p>
    <b>Authentication:</b>
    <br>
    Type: <code>None</code>
</p>

<p>
    <b>Payload:</b>
    <br>
    MIME Type: <code>application/json</code>
    <br>
    Template:

{% verbatim %}
<pre>
{
  "event": {
    "eventType": "${latestEvent.eventType}",
    "id": "${latestEvent.id}",
    "guid": "${latestEvent.guid}",
    "eventTypeKey": "${latestEvent.eventTypeKey}",
    "eventTime": "${latestEvent.eventTime}",
    "displayName": "${latestEvent.displayName}",
    "summaryMessage": "${latestEvent.summaryMessage}",
    "eventMessage": "${latestEvent.eventMessage}",
    "application": {
      "name": "${latestEvent.application.name}"
    },
    "node": {
      "name": "${latestEvent.node.name}"
    },
    "severity": "${latestEvent.severity}",
    "deepLink": "${latestEvent.deepLink}"
  }
}
</pre>
{% endverbatim %}

<p>
    <b>Response Handling Criteria</b>
    <br>
    Success Criteria: <code>Status Code 200</code>
</p>

<p>
    <b>Settings:</b>
    <br>
    One Request Per Event: Enabled
</p>

<p>
    After setting up a template, create a new action in AppDynamics and select the template you created earlier.
    Now you can configure policies to trigger the action when certain events occur in AppDynamics.
    <br>
    When configuring a policy, select the following events to trigger the action:
    <ul>
        <li><code>Health Rule Violation Started - Warning</code></li>
    <li><code>Health Rule Violation Started - Critical</code></li>
    <li><code>Health Rule Violation Continues - Warning</code></li>
    <li><code>Health Rule Violation Continues - Critical</code></li>
    <li><code>Health Rule Violation Upgraded - Warning to Critical</code></li>
    <li><code>Health Rule Violation Downgraded - Critical to Warning</code></li>
    <li><code>Health Rule Violation Ended - Warning</code></li>
    <li><code>Health Rule Violation Ended - Critical</code></li>
    <li><code>Health Rule Violation Canceled - Warning</code></li>
    <li><code>Health Rule Violation Canceled - Critical</code></li>
    </ul>
</p>

<p>
    After setting up the connection, you can test it by sending a test request from the AppDynamics UI.
</p>
