<h4>How to start sending alerts to Grafana OnCall from AlertManager</h4>
<p><ol>
    <li>
        1. Add the new receiver to the AlertManager configuration file, for example:
        <pre>
        ...
        route:
          receiver: 'grafana_oncall'
          group_by: [alertname, datacenter, app]
        ...
        receivers:
        - name: 'grafana_oncall'
          webhook_configs:
          - url: {{ alert_receive_channel.integration_url }}
            send_resolved: true
        </pre>
    </li>
</ol></p>

<h4>Next steps:</h4>
<p><ol>
    <li>
        1. Add the routes and escalations in <code class='code-inline'>Escalations settings</code>
    </li>
    <li>
        2. Check grouping, auto-resolving, and rendering templates in
        <code class='code-inline'>Alert Templates</code> Settings
    </li>
    <li>
        3. Make sure all the users set up their <code class='code-inline'>Personal Notifications</code> Settings
        on the <code class='code-inline'>Users</code> Page
    </li>
</ol></p>
