<h4>How to start sending alerts to Grafana OnCall from Kapacitor</h4>
<p>
    <ol><li>Open <a href="https://uptimerobot.com" target="_blank">https://uptimerobot.com</a> and log in
</li><li>Go to <code class='code-inline'>My Settings</code> > <code class='code-inline'>Add Alert Contact</code> and set the following fields:
</li></ol>
<ul>
    <li>Alert Contact Type: <code class='code-inline'>Webhook</code></li>
    <li>Friendly Name: <code class='code-inline'>Amixr</code></li>
    <li>URL to Notify: <code class='code-inline'>&lt;{{ alert_receive_channel.integration_url }}&gt;</code></li>
</ul>
<ol start="3"><li>POST Value (JSON Format):</li></ol>

<pre><code class='code-multiline'>
    {
            "monitorURL": "monitorURL",
            "monitorFriendlyName": "monitorFriendlyName",
            "alertType": "alertType",
            "alertTypeFriendlyName": "alertTypeFriendlyName",
            "alertDetails": "alertDetails",
            "alertDuration": "alertDuration",
            "sslExpiryDate": "sslExpiryDate",
            "sslExpiryDaysLeft": "sslExpiryDaysLeft"
    }
</code></pre>
<ol start="4"> <li> Flag Send as JSON </li>
<li>Click <code class='code-inline'>Save Changes</code> and <code class='code-inline'>Close</code></li></ol>

<p><strong>Send Test Alert to Amixr</strong></p>
<ol><li>Click <code class='code-inline'>Add New Monitor</code>
</li><li>Monitor Type HTTP(s)
</li><li>Friendly Name Test Amixr
</li><li>Set URL to <code>http://devnull.amixr.io</code> or any other non-existent domain
</li><li>Click Checkbox next to Amixr Alert Contact (created in the previous step)
</li><li>Click <code class='code-inline'>Create Monitor</code>
</li></ol>
</p>

<h4>Next steps:</h4>
<p><ol>
    <li>
        1. Add the routes and escalations in <code class='code-inline'>Escalations settings</code>
    </li>
    <li>
        2. Check grouping, auto-resolving, and rendering templates in
        <code class='code-inline'>Alert Templates</code> Settings
    </li>
    <li>
        3. Make sure all the users set up their <code class='code-inline'>Personal Notifications</code> Settings
        on the <code class='code-inline'>Users</code> Page
    </li>
</ol></p>