<p>This integration will consume emails from dedicated email address and make incidents from them.</p>

<p>It’s useful for:</p>
<ol>
    <li>Service desk.</li>
    <li>Consuming alerts from other systems using emails as a message bus.</li>
</ol>
<p>Dedicated email address for incidents:</p>
<pre><code class='code-multiline'>{{ alert_receive_channel.inbound_email }}</code></pre>

<p><i>Fields:</i></p>
<ul>
    <li><i>email_subject</i> - alert title;</li>
    <li><i>email_body</i> - alert details;</li>
</ul>
