# Backend
*/db.sqlite3
engine/oncall_dev.db
*.pyc
venv
.python-version
.env
.env_hobby
.env.dev
.vscode
dump.rdb
.idea
engine/celerybeat-schedule.db
engine/sqlite_data
jupiter_playbooks/*
engine/reports/*.csv
engine/jupiter_playbooks/*

# Frontend dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.swp

npm-debug.log*
yarn-debug.log*
yarn-error.log*

scripts/gcom.token
scripts/gcom_grafana.token
scripts/gcom_raintank.token

engine/extensions/

grafana-plugin/frontend_enterprise

uwsgi-local.ini
celerybeat-schedule
