.root {
  transition: background-color 300ms;
  min-height: 28px;
  overflow-x: hidden;
}

.loader {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.root:first-child {
  padding-top: 26px;
}

.root:last-child {
  padding-bottom: 26px;
}

.root:hover {
  background: var(--secondary-background);
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 4px;
  position: relative;
}

.root:last-child .timeline {
  padding-bottom: 0;
}

.slots {
  width: 100%;
  display: flex;
  transition: opacity 500ms ease;
  opacity: 1;
}

.slots__transparent {
  opacity: 0.5;
}

.slots__animate {
  transition: transform 500ms ease;
}

.current-time {
  position: absolute;
  left: 450px;
  width: 1px;
  background: var(--gradient-brandVertical);
  top: -10px;
  bottom: -10px;
  z-index: 1;
}

.empty {
  height: 28px;
  cursor: pointer;

  /*  background: #5f505633;
    border: 1px dashed #5c474d;
    color: rgba(209, 14, 92, 0.5); */
  margin: 0 2px;
}

.slots--tutorial {
  position: absolute;
  background: rgba(61, 113, 217, 0.15);
}

.pointer {
  position: absolute;
  top: -9px;
  transition: left 500ms ease, opacity 500ms ease, transform 500ms ease;
  transform-origin: bottom center;
  opacity: 0;
  transform: scale(0);
}

.pointer--active {
  transform: scale(1);
  opacity: 1;
}

.tutorial-slot {
  width: 175px;
  height: 28px;
  border-radius: 2px;
  margin: 0 1px;
  padding: 4px;
}

.tutorial-slot--active {
  box-shadow: var(--shadows-z3);
}
