/* Navigation/Layout */

.page-body {
  max-width: unset !important;
}

[class$='-page-header'] {
  display: none;
}

.page-container {
  max-width: unset !important;
}

.page-scrollbar-content > div:first-child {
  flex-grow: 1;
}

.page-header__title {
  padding-top: 0 !important;
  font-size: 2rem !important;
  margin-right: 8px;
}

.page-header__info-block {
  flex-grow: 1; /* Stretch the navigation subtitle panel */
}
