.root {
    padding: 6px 10px;
    gap: 10px;
    background: var(--primary-background);
    border: var(--border-medium);
    border-radius: 2px;
}

.details{
    width: 276px;
}

.progress{
    width:100%;
    height: 16px;
    background-color: var( --secondary-background-shade);
    position: relative;
}

.progress-filler{
    height: 100%;
    position: absolute;
}

.progress-filler__type_success{
    background-color: var(--success-text-color);
}

.progress-filler__type_warning{
 background-color: var(--warning-text-color);
}

.quality-text{
    float: right;
    line-height: 16px;
    margin-right: 3px;
}

.quality-text__type_success{
    color: var(--primary-text-color);
}

.quality-text__type_warning{
    color: #111217
}
