.configure-plugin {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Spinner */

.spin {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spin-text {
  margin-top: 20px;
}

/* Tables */

.disabled-row {
  background: #f0f0f0;
}

.highlighted-row {
  background: var(--highlighted-row-bg);
}

/* Navigation */

.navbarRootFallback {
  margin-top: 24px;
}

.u-pull-right {
  margin-left: auto;
}

.u-pull-left {
  margin-right: auto;
}
