.spin {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* animation: fadeIn 1s infinite alternate; */
}

.spin-text {
  margin-top: 20px;
}

.configure-plugin {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.disabled-row {
  background: #f0f0f0;
}

.highlighted-row {
  background: var(--highlighted-row-bg);
}
