.u-position-relative {
  position: relative;
}

.u-overflow-x-auto {
  overflow-x: auto;
}

.u-pull-right {
  margin-left: auto;
}

.u-pull-left {
  margin-right: auto;
}

.u-break-word {
  word-break: break-word;
}

.u-width-100 {
  width: 100%;
}

.u-flex {
  display: flex;
  flex-direction: row;
}

.u-flex-center {
  justify-content: center;
  align-items: center;
}

.u-align-items-center {
  align-items: center;
}
