.link {
  text-decoration: none !important;
}

.u-position-relative {
  position: relative;
}

.u-overflow-x-auto {
  overflow-x: auto;
}

.u-pull-right {
  margin-left: auto;
}

.u-pull-left {
  margin-right: auto;
}

.u-break-word {
  word-break: break-word;
}

.u-width-100 {
  width: 100%;
}

.u-height-100 {
  height: 100%;
}

.u-display-block {
  display: block;
}

.u-flex {
  display: flex;
  flex-direction: row;
}

.u-flex-center {
  justify-content: center;
  align-items: center;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-align-items-center {
  align-items: center;
}

.u-disabled {
  opacity: var(--opacity);
  cursor: not-allowed !important;
  pointer-events: none;
}

.u-cursor-default {
  cursor: default;
}
