:root {
  --maintenance-background: repeating-linear-gradient(45deg, #f6ba52, #f6ba52 20px, #ffd180 20px, #ffd180 40px);
  --green-5: #6ccf8e;
  --green-6: #73d13d;
  --red-5: #ff4d4f;
  --orange-5: #ffa940;
  --warning-1: #f8d06b;
  --blue-2: #bae7ff;
  --gray-5: #d9d9d9;
  --gray-8: #595959;
  --gray-9: #434343;
  --cyan-1: #e6fffb;
  --purple-9: #22075e;
  --border-radius: 2px;
  --gradient-brandHorizontal: linear-gradient(90deg, #f83 0%, #f53e4c 100%);
  --gradient-brandVertical: linear-gradient(0.01deg, #f53e4c -31.2%, #f83 113.07%);
  --always-gray: #ccccdc;
  --title-marginBottom: 16px;
  --opacity: 0.5;
  --tag-danger: #e02f44;
  --tag-warning: #c69b06;
  --tag-primary: #299c46;
  --tag-secondary: #464c54;
  --tag-background-primary: rgba(56, 113, 220, 0.2);
  --tag-border-primary: rgba(56, 113, 220, 0.2);
  --tag-background-danger: rgba(242, 73, 92, 0.15);
  --tag-text-primary: rgba(110, 159, 255, 1);
  --tag-border-danger: rgb(151, 11, 27);
  --tag-text-danger: rgb(247, 144, 156);
  --tag-border-warning: rgb(150, 75, 0);
  --tag-background-warning: rgba(245, 183, 61, 0.18);
  --tag-text-warning: rgb(255, 190, 124);
  --tag-border-success: rgb(49, 100, 43);
  --tag-border-link: rgba(56, 113, 220, 0.2);
  --tag-background-success: rgba(27, 133, 94, 0.15);
  --tag-text-success: rgb(165, 214, 159);
}

.theme-light {
  --cards-background: var(--blue-2);
  --highlighted-row-bg: var(--cyan-1);
  --disabled-button-color: #bdbdbd;
  --primary-background: rgb(255, 255, 255);
  --secondary-background: rgb(244, 245, 245);
  --border: 1px solid rgba(36, 41, 46, 0.12);
  --primary-text-color: rgb(36, 41, 46);
  --secondary-text-color: rgba(36, 41, 46, 0.75);
  --disabled-text-color: rgba(36, 41, 46, 0.5);
  --warning-text-color: #f5b73d;
  --success-text-color: #1a7f4b;
  --error-text-color: #ff5286;
  --primary-text-link: #1f62e0;
  --timeline-icon-background: rgba(70, 76, 84, 0);
  --timeline-icon-background-resolution-note: rgba(50, 116, 217, 0);
  --oncall-icon-stroke-color: #fff;
  --hover-selected: #f4f5f5;
  --background-canvas: #f4f5f5;
  --background-primary: #fff;
  --background-secondary: #f4f5f5;
  --border-medium: 1px solid rgba(36, 41, 46, 0.3);
  --border-strong: 1px solid rgba(36, 41, 46, 0.4);
  --border-weak: 1px solid rgba(36, 41, 46, 0.12);
  --shadows-z1: 0 1px 2px rgba(24, 26, 27, 0.2);
  --shadows-z2: 0 4px 8px rgba(24, 26, 27, 0.2);
  --shadows-z3: 0 13px 20px 1px rgba(24, 26, 27, 0.18);
}

.theme-dark {
  --cards-background: var(--gray-9);
  --highlighted-row-bg: var(--gray-9);
  --disabled-button-color: hsla(0, 0%, 100%, 0.08);
  --primary-background: rgb(24, 27, 31);
  --secondary-background: rgb(34, 37, 43);
  --border: 1px solid rgba(204, 204, 220, 0.15);
  --primary-text-color: rgb(204, 204, 220);
  --secondary-text-color: rgba(204, 204, 220, 0.65);
  --disabled-text-color: rgba(204, 204, 220, 0.4);
  --warning-text-color: #f5b73d;
  --success-text-color: #1a7f4b;
  --error-text-color: #ff5286;
  --primary-text-link: #6e9fff;
  --timeline-icon-background: rgba(70, 76, 84, 1);
  --timeline-icon-background-resolution-note: rgba(50, 116, 217, 1);
  --focused-box-shadow: rgb(17 18 23) 0 0 0 2px, rgb(61 113 217) 0 0 0 4px;
  --hover-selected: rgba(204, 204, 220, 0.12);
  --hover-selected-hardcoded: #34363d;
  --oncall-icon-stroke-color: #181b1f;
  --background-canvas: #111217;
  --background-primary: #181b1f;
  --background-secondary: #22252b;
  --border-medium: 1px solid rgba(204, 204, 220, 0.15);
  --border-strong: 1px solid rgba(204, 204, 220, 0.25);
  --border-weak: 1px solid rgba(204, 204, 220, 0.07);
  --shadows-z1: 0 1px 2px rgba(24, 26, 27, 0.75);
  --shadows-z2: 0 4px 8px rgba(24, 26, 27, 0.75);
  --shadows-z3: 0 8px 24px rgb(1, 4, 9);
}
