.title-container {
  padding: 24px 24px 0;
}

.container {
  display: flex;
  width: 100%;
  border: var(--border-strong);
  margin: 8px 8px;
  padding: 0 16px 16px;
}

.template-block-title {
  padding: 16px;
  align-items: baseline;
  height: 72px;
}

.template-editor-block-title {
  padding: 16px;
  align-items: baseline;
  border: var(--border-weak);
  background-color: var(--background-secondary);
  height: 72px;
}

.template-block-list {
  width: 30%;
  height: 100%;
}

.template-block-codeeditor {
  width: 40%;
  height: 100%;
}

.template-block-result {
  width: 30%;
  height: 100%;
}

.result {
  padding-left: 16px;
}

.block-style {
  border: var(--border-weak);
  background-color: var(--background-secondary);
}
