.title-container {
  padding: 24px 24px 0;
}

.container-wrapper {
  padding: 8px;
  height: 100%;
  max-height: 100%;
}

.container {
  display: flex;
  height: 100%;
  max-height: 100%;
  width: 100%;
  border: var(--border-strong);
  padding: 0 16px;
}

.template-block-title {
  padding: 16px;
  align-items: baseline;
  height: 56px;
}

.template-editor-block-title {
  padding: 8px 16px;
  align-items: baseline;
  border: var(--border-weak);
  background-color: var(--background-secondary);
  height: 56px;
  min-width: min-content;
}

.template-block-list {
  width: 30%;
  height: 100%;
}

.template-block-codeeditor {
  width: 40%;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.template-block-result {
  width: 30%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.result {
  padding-left: 16px;
  height: 100%;
  overflow-y: scroll;
}

.template-block-codeeditor div[aria-label='Code editor container'] {
  border-bottom: none;
}
