.img {
  width: 100%;
}

.message {
  word-wrap: break-word;
}

.message ul {
  margin-left: 24px;
}

.message p {
  margin-bottom: 0;
}

.message code {
  white-space: break-spaces;
}

.image-result img {
  max-width: 100%;
  max-height: 100%;
}

.display-linebreak {
  white-space: pre-line;
}
