# Ignore everything
*

# Except
!.env.dev.example
!.env.mysql.dev
!.env.postgres.dev
!.env.sqlite.dev
!add_env_var.sh
!prometheus.yml
!README.md
!frontend_guidelines.md
!scripts/
!scripts/*
!helm-local.yml
!kind.yml
!kind-config.yaml

# only source control grafana/provisioning/datasources/automatic.yml
# any other files under ./grafana will be ignored
!grafana/
!grafana/provisioning/
!grafana/provisioning/datasources/
!grafana/provisioning/datasources/automatic.yml
!grafana/provisioning/plugins/
!grafana/provisioning/plugins/grafana-oncall-app-provisioning.yaml

