.users-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  margin-right: 10px;
}

.users-filters {
  margin-bottom: 20px;
}

.users-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--title-marginBottom);
}

.users-header-left {
  display: flex;
  align-items: center;
}

.root .users-title {
  margin-bottom: 0;
}

.users-footer {
  display: flex;
  justify-content: flex-end;
}

.desc {
  word-wrap: break-word;
  word-break: break-word;
}

.user-filters-container {
  display: flex;
  justify-content: space-between;
}

.warning-message-icon {
  margin-right: 8px;
  color: var(--warning-text-color);
}

.error-icon {
  display: inline-block;
  white-space: break-spaces;
  line-height: 20px;
  color: var(--error-text-color);
}

.error-icon svg {
  vertical-align: middle;
}

.warning-message {
  color: var(--warning-text-color);
}

.success-message {
  color: var(--success-text-color);
}
