.root {
  display: block;
}

.title {
  margin: 16px 0 0 16px;
}

.content {
  margin: 4px;
}

.tabs__content {
  padding-top: 16px;
}

.form-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

.form-field {
  flex-grow: 1;
}

/* TODO: figure out why this is not picked */
.webhooks__drawerContent .cursor.monaco-mouse-cursor-text {
  display: none !important;
}
