.pair-heading {
  font-size: 18px;
}

.pair-width-100 {
  width: 100%;
}
.pair-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}

.pair-edit {
  position: absolute !important;
  z-index: 1000 !important;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  visibility: hidden;
  background-color: transparent;
  cursor: pointer;
}

.pair-edit:hover::before {
  background-color: unset !important;
}

.pair-selector {
  display: flex;
  position: relative;
}
.pair-selector:hover .pair-edit {
  visibility: visible;
}
