.teamSelect {
  width: 200px;
}

.teamSelectLabel {
  display: flex;
}

.teamSelectText,
.teamSelectLink {
  line-height: 1.25;
  margin-bottom: 4px;
}

.teamSelectLink {
  margin-left: auto;
  color: var(--primary-text-link);
}

.teamSelectInfo {
  margin-left: 4px;
}
