.root {
  border: var(--border-weak);
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
  border-radius: var(--border-radius);
  position: relative;
}

.shades {
  background: repeating-linear-gradient(
    -45deg,
    var(--background-canvas),
    var(--background-canvas) 2px,
    transparent 2px,
    transparent 6px
  );
  height: 100%;
  position: absolute;
}

.working-hours {
  position: absolute;
  height: 100%;
}

.content {
  z-index: 1;
}

.header {
  padding: 0 10px;
}

.title {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: rgba(204, 204, 220, 0.65);
  margin-top: 16px;
}

.current-time {
  position: absolute;
  left: 0;
  width: 1px;
  background: var(--gradient-brandVertical);
  top: 0;
  bottom: 0;
  z-index: 0;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

.users {
  position: relative;
  height: 76px;
  overflow: hidden;
}

.users-placeholder {
  width: 100%;
  text-align: center;
}

.icon {
  color: var(--secondary-text-color);
}

.avatar-group {
  position: absolute;
  top: 10px;
  height: 32px;
}

.avatar {
  position: absolute;
  top: 0;
  transition: opacity 200ms ease, left 200ms ease;
  border-radius: 50%;
}

.is-oncall-icon {
  color: var(--oncall-icon-stroke-color);
  position: absolute;
  left: -1px;
  bottom: -1px;
}

.user-more {
  position: absolute;
  padding: 0 5px;
  bottom: 0;
  font-size: 12px;
  line-height: 16px;
  background: #454952;
  color: #ccccdc;
  border-radius: 8px;
  text-align: center;
  transition: opacity 200ms ease, left 200ms ease;
  pointer-events: none;
}

.avatar-group_inactive {
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.time-marks-wrapper {
  position: relative;
}

.time-marks {
  position: absolute;
  top: -20px;
  display: flex;
  font-weight: 400;
  line-height: 20px;
  color: rgba(204, 204, 220, 0.65);
  width: 100%;
}

.time-mark-text {
  display: inline-block;
  padding: 0 5px;
}

.time-mark-text__translated {
  transform: translate(-50%, 0);
  padding: 0;
}

.time-mark:last-child {
  position: absolute;
  right: 0;
}
