.root {
  padding: 16px;
  border-radius: 2px;
}

:global(.theme-dark) .root_bordered {
  border: var(--border);
}

:global(.theme-light) .root_bordered {
  border: var(--border);
}

:global(.theme-dark) .root_shadowed {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.root_with-background {
  background: var(--secondary-background);
}
