.columns-selector-view {
  min-width: 300px;
}

.columns-visible-section {
  margin-bottom: 16px;
  max-height: 400px;
  overflow-y: overlay;
}

.columns-header,
.columns-header-small {
  display: block;
}

.columns-header {
  margin-bottom: 16px;
}
.columns-header-small {
  margin-bottom: 8px;
}

.columns-header-secondary {
  display: block;
  margin-bottom: 8px;
}

.columns-hidden-section {
  margin-bottom: 20px;
  max-height: 250px;
  overflow-y: overlay;
}
.columns-selector-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.column-item {
  gap: 12px;
  left: 25px;
  display: flex;
  position: relative;
  padding: 0px 8px;
  margin-right: 25px;

  &:hover .column-icon--trash {
    display: block;
  }
}

.columns-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

.column-icon--trash,
.column-icon {
  display: block;
  margin-left: auto;
  position: relative;
  top: -2px;

  &::before {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -60%);
  }
}

.column-icon--trash {
  display: none;
}

.column-row {
  position: relative;
  margin-bottom: 4px;
  height: 22px;
}

.column-name {
  text-wrap: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.label-icon {
  margin: 0 !important;
  padding: 0 !important;
}