.telegram-bot {
  color: var(--primary-text-link);
}

.telegram-instruction-container {
  display: block;
  text-align: left;
  margin-bottom: 12px;
}

.verification-code {
  text-decoration: underline;
}

.copy-icon {
  color: var(--primary-text-link);
}

.telegram-instruction-cancel {
  margin-top: 24px;
}

.telegram-block {
  width: 100%;
}

.field-command {
  margin-top: 8px;
  width: 100%;
  display: inline-block;
}

.infoblock-text {
  margin-left: 48px;
  margin-right: 48px;
}
