
.root {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 24px;

  --rotations-border: var(--border-weak);
  --rotations-background: var(--background-secondary);
}

.header {
  position: sticky; /* TODO check */
  width: 100%;
}

.desc {
  width: 736px;
}

.users-timezones {
  width: 100%;
}

.controls {
  width: 100%;
}

.rotations {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}
