.root {
  --rotations-border: var(--border-weak);
  --rotations-background: var(--background-secondary);
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 250px;
  align-items: center;
}

.header {
  position: sticky; /* TODO check */
  width: 100%;
}

.desc {
  width: 736px;
}

.users-timezones {
  width: 100%;
}

.controls {
  width: 100%;
}

.rotations {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.not-found {
  margin: 50px auto;
  text-align: center;
}
