.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 100px;
}

.steps {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  align-items: flex-start;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 120px;
  text-align: center;
}

.icon {
  width: 60px;
  height: 60px;
  background: var(--secondary-background);
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
}

.icon_active {
  border: 2px solid #ffb375;
}

.arrow {
  margin-top: 20px;
}

.arrow svg {
  fill: #ccccdc;
}

:global(.theme-dark) .arrow svg {
  fill-opacity: 0.15;
}

@media (min-width: 1540px) {
  .step {
    width: 170px;
  }
}
