.title {
  margin-bottom: 20px;
}

.stub {
  width: 100%;
  padding: 50px 0;
}

.root .select {
  width: 400px;
}

.slack-settings {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(204, 204, 220, 0.25);
}
