.root {
  width: 100%;
}

.sortable-helper {
  z-index: 1062;
  box-shadow: var(--focused-box-shadow);
  background: var(--hover-selected-hardcoded) !important;
}

.separator {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator__clickable {
  cursor: pointer;
  margin-top: 12px;
}

.groups {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-height: 300px;
  overflow: auto;
}

.user {
  background: #22252b;
  border-radius: 2px;
  display: flex;
  position: relative;
}

.user-buttons {
  position: absolute;
  top: 8px;
  right: 5px;
}

.user:hover {
  background: var(--hover-selected-hardcoded);
}

.icon {
  display: block;
  color: var(--always-gray);
}

.icon:hover {
  color: white;
}

.user:hover .delete-icon {
  display: block;
}

.add-user-group {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.select {
  width: 100%;
}
