.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 16px;
  width: 100%;
  border-bottom: var(--border);
  position: relative;
  cursor: pointer;
}

.item:first-child {
  border-top: var(--border);
}

.item:hover {
  background: var(--secondary-background);
}

.item_selected {
  cursor: default;
  background: var(--secondary-background);
}

.item_selected::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-image: linear-gradient(270deg, #f55f3e 0%, #f83 100%);
}
