.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2px;
  background: var(--secondary-background);
  padding: 2px 2px 2px 12px;
  flex-wrap: wrap;
  min-height: 36px;
}

.step > * {
  margin-right: 8px !important;
}

.root .select {
  flex-shrink: 0;
  min-width: 100px;
}

.root .multiSelect {
  max-width: 90%;
  padding: 4px;
}

.root .users {
  flex-grow: 1;
  width: 400px;
}

.timeline {
  width: 400px;
}

.root .control {
  margin: 0 8px;
  width: auto !important;
}

.root .delete {
  margin-left: auto !important;
}
