.root {
  margin-top: -24px;
}

.root .alerts_horizontal {
  display: flex;
  gap: 10px;
}

.root .alert {
  margin: 24px 0;
}

/* --- GRAFANA UI TUNINGS --- */

.root :global(.filter-table) td {
  white-space: break-spaces;
  line-height: 20px;
  height: auto;
}
