.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  .alerts_horizontal {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
  }

  .alert {
    margin: 24px 0;
  }
}

/* --- GRAFANA UI TUNINGS --- */

.root :global(.filter-table) td {
  white-space: break-spaces;
  line-height: 20px;
  height: auto;
}

.instructions-link {
  color: var(--primary-text-link);
}
