<!DOCTYPE html>
{% autoescape off %}
{{ message }}
{% endautoescape %}

{% if limit_notification %}
    <br><br>
    <span style="color: #333333;"><em>{{ emails_left }} emails left for the organization today. Contact your admin.</em></span>
{% endif %}

<hr/>
<a href="{{ url }}">Alert Group #{{ alert_group_number }}</a> from {{ integration }}
<span>|</span>
<a href="{{ instance_url }}">{{ instance_url }}</a>
<span>|</span>
<a href="https://grafana.com/docs/oncall/latest/">Docs</a>
<p>
    - Your <a href="https://grafana.com/products/cloud/oncall/">Grafana OnCall</a>
</p>

<!-- this ensures Gmail doesn't trim the email -->
<span style="display:none;">{% now "H:i.u e"%}</span>
<!---->