.hamburgerMenu {
  cursor: pointer;
  color: var(--primary-text-color);
  border: var(--border-weak);
  border-radius: var(--border-radius);
  background-color: var(--button-background);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  padding: 4px;

  &:hover {
    background-color: var(--button-hover-background);
  }

  &--withBackground {
    height: 32px;
    width: 30px;
    cursor: pointer;
    color: var(--primary-text-color);
  }

  &--small {
    height: 24px;
    width: 22px;
    cursor: pointer;
    color: var(--primary-text-color);
  }
}
