.root {
  display: inline;
}

.type_secondary {
  color: var(--secondary-text-color);
}

.type_primary {
  color: var(--primary-text-color);
}

.type_disabled {
  color: var(--disabled-text-color);
}

.type_warning {
  color: var(--warning-text-color);
}

.type_link {
  color: var(--primary-text-link);
  cursor: pointer;
}

.type_success {
  color: #6ccf8e;
}

.strong {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

.keyboard {
  margin: 0 0.2em;
  padding: 0.15em 0.4em 0.1em;
  font-size: 90%;
  background: hsla(0, 0%, 58.8%, 0.06);
  border: solid hsla(0, 0%, 39.2%, 0.2);
  border-width: 1px 1px 2px;
  border-radius: 3px;
}

.link {
  text-decoration: underline;
}

.size_small {
  font-size: 12px;
}

.title {
  margin: 0;
}

.icon-button {
  margin-left: 4px;
}

.size_large {
  font-size: 20px;
}
