.integrationTree__container {
  margin-left: 32px;
  position: relative;
}

.integrationTree__element {
  margin-left: 16px;
  visibility: hidden;
  overflow-y: hidden;
  height: 0;

  &--visible {
    visibility: visible;
    height: auto;
    overflow: unset;
  }
}

.integrationTree__group {
  position: relative;
  padding-bottom: 12px;

  &:not(:last-child)::before {
    content: '';
    position: absolute;
    height: 100%;
    border: var(--border-weak);
    margin-top: 4px;
    margin-left: -19px;
    top: 20px;
  }

  &--hidden {
    display: none;
  }
}

.integrationTree__container--timeline-view .integrationTree__group::before {
  margin-left: -18px;
  border: 0 !important;
  width: 4px;
  background-color: var(--border-medium-color);
}

.integrationTree__icon {
  position: absolute;
  top: 0;
  left: -30px;
  color: var(--always-gray);
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: var(--primary-background) !important;
  border: 1px solid var(--primary-background);
  z-index: 100;
  border-radius: 4px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;

  path {
    // this will overwrite all icons below to be gray
    fill: var(--always-gray);
  }
}

.number-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--border-medium-color);
  flex-shrink: 0;
  margin: 0;
}
