.info-block {
  width: 70%;
  min-width: 1100px;
  padding: 24px;
}

.warning-message {
  color: var(--warning-text-color);
}

.success-message {
  color: var(--success-text-color);
}

.error-message {
  color: var(--error-text-color);
}

.user-table {
  margin-top: 24px;
  width: 100%;
}

.user-row {
  height: 32px;
}

.cloud-page-title {
  margin-top: 24px;
}

.cloud-oncall-name {
  color: #f55f3e;
}

.block-icon {
  color: var(--secondary-text-color);
}

.block-button {
  margin-top: 24px;
}

.table-title {
  margin-bottom: 16px;
}

.table-button {
  float: right;
}
