.add-responders-dropdown {
  border: var(--border-medium);
  position: absolute;
  background: var(--primary-background);
  width: 340px;
  z-index: 10;
}

.responder-item {
  cursor: pointer;
  width: 280px;
  overflow: hidden;
}

.responders-filters {
  margin: 8px;
}

.radio-buttons {
  margin: 8px;
}

.table {
  overflow: auto;
  padding: 4px 0px;

  & tr:hover {
    background: var(--background-secondary) !important;
  }

  & tbody tr:nth-child(odd) {
    background: unset;
  }
}

.user-results-section-header {
  padding: 10px 8px;
}
