.root {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mattermost-infoblock {
  text-align: center;
  width: 725px;
}

.infoblock-text {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 24px;
}

.external-link-style {
  margin-right: 4px;
  align-self: baseline;
}
