<!-- this ensures Gmail doesn't trim the email. Add this line at the beginning and end of email content. -->
<span style="display:none;">{% now "H:i.u e"%}</span>
<!---->
<strong>Welcome to OnCall!</strong>
<br><br>
To verify your email address, please click the button below. If you did not sign up for OnCall, please ignore this email.
<br>
<a href='{{ url }}' target='_blank'>Confirm email</a>
<br><br>
Thanks,
<br>
OnCall Team
<!-- this ensures Gmail doesn't trim the email. Add this line at the beginning and end of email content. -->
<span style="display:none;">{% now "H:i.u e"%}</span>
<!---->