<!DOCTYPE html>
<!-- this ensures Gmail doesn't trim the email. Add this line at the beginning and end of email content. -->
<span style="display:none;">{% now "H:i.u e"%}</span>
<!---->
You are invited to check Incident
<br><br>
<strong><a href="{{ url }}">{{ title }}</a></strong>
{% if message %}
    {{ message|linebreaks }}
{% endif %}
{#<br>#}
{#<img src="{{ image_url }}" alt="image" />#}
Amixr team: {{ amixr_team }}
<br>
Alert channel: {{ alert_channel }}
<br><br>
<strong><a href="{{ url }}">Check Incident</a></strong>
<br><br>
Your Amixr.IO
{% if limit_notification %}
    <br><br>
    <span style="color: #333333;"><em>{{ emails_left }} mail(s) left for this week. Contact your admin.</em></span>
{% endif %}
<!-- this ensures Gmail doesn't trim the email. Add this line at the beginning and end of email content. -->
<span style="display:none;">{% now "H:i.u e"%}</span>
<!---->