.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch__icon {
  margin-right: 12px;
}

.phone__field {
  width: 100%;
  margin-bottom: 8px;
}

.phone__forgetHeading {
  display: block;
  margin-bottom: 24px;
}
