.root {
  position: relative;
  width: 100%;

  &:hover .button {
    opacity: 1;
  }
}

.scroller {
  overflow-y: auto;

  &--maxHeight {
    max-height: 400px;
  }
}

.button {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

pre {
  border-radius: 2px;
  padding: 12px 20px;
}
