.root {
  position: relative;
  width: 100%;

  &:hover .copyButton,
  &:hover .copyIcon {
    opacity: 1;
  }
}

.scroller {
  overflow-y: auto;
  border-radius: 2px;
  padding: 12px 60px 12px 20px;

  &--maxHeight {
    max-height: 400px;
  }
}

.copyIcon,
.copyButton {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: opacity 0.2s ease;
  opacity: 0;
}
