.input {
  margin-bottom: 16px;
}

.field-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.content {
  width: 100%;
  min-height: 100px;
}

.removal-modal {
  max-width: 500px;
}

.total-values-count {
  margin-left: 16px;
}
