.root {
  width: 100%;
}

.root table {
  width: 100%;
}

.root table tbody tr.row-even {
  background: var(--background-secondary);
}

.root tr {
  min-height: 56px;
}

.root tr:hover {
  /* background: var(--secondary-background); */
}

.root th:first-child {
  padding-left: 20px;
}

.root td {
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination {
  width: 100%;
  margin-top: 20px;
}

.expand-icon {
  padding: 10px;
  color: var(--primary-text-color);
  pointer-events: none;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: transform 0.2s;
}

/* to allow expand on expand-button click */
.root table :global(.rc-table-row-expand-icon-cell) > span {
  pointer-events: none;
}

.expand-icon__expanded {
  transform: rotate(0deg);
}
