.root {
  width: 220px;
  padding: 10px;
}

.oncall-badge {
  line-height: 16px;
  color: var(--primary-background);
  padding: 2px 7px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.oncall-badge__type_now {
  background: #6ccf8e;
}

.oncall-badge__type_inside {
  background: #ccccdc;
}

.oncall-badge__type_outside {
  background: rgba(204, 204, 220, 0.4);
}

.hr {
  width: 100vw;
  margin: -4px -18px -4px -18px;
}

.times {
  display: flex;
  flex-direction: column;
}

.icon {
  color: #ccccdc;
}

.timezone-wrapper {
  display: flex;
}

.timezone-icon {
  width: 10%;
}

.timezone-info {
  width: 50%;
  overflow-wrap: anywhere;
  margin-left: 4px;
}

.contact-details a {
  text-decoration-line: none;
  word-break: break-all;
}
