.schedule {
  position: relative;
  margin: 20px 0;
  max-width: calc(100vw - 104px);
}

.title {
  margin-bottom: var(--title-marginBottom);
}

.root .buttons {
  padding-right: 10px;
}

.schedules__filters-container {
  display: flex;
  width: 100%;
}

.schedules__filters-container-left {
  flex-grow: 1;
}

.schedules__filters-container-right {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding-top: 19px;
}
