.schedule {
  position: relative;
  margin: 20px 0;
}

.schedule-personal {
  position: relative;
  margin: 20px 0;

  --rotations-border: var(--border-weak);
  --rotations-background: var(--background-secondary);
}

.title {
  margin-bottom: var(--title-marginBottom);
}

.root .buttons {
  padding-right: 10px;
}

.schedules__filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.schedules__actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 8px;
}

.schedules__user-on-call {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}
