.root {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.dot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  flex-shrink: 0;
}

.content {
  margin: 0 0 0 24px;
  word-break: break-word;
  flex-grow: 1;
}

.content--noMargin {
  margin: 0;
}
