.root {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 4px;
}

.root__type_link {
  background: rgba(27, 133, 94, 0.15);
  border: 1px solid var(--tag-border-success);
  border-radius: 2px;
}

.root__type_warning {
  background: rgba(245, 183, 61, 0.18);
  border: 1px solid var(--tag-border-warning);
  border-radius: 2px;
}

.icon__type_link {
  color: var(--tag-text-success);
}

.icon__type_warning {
  color: var(--tag-text-warning);
}

.tooltip {
  width: auto;
}
