<p>This configuration will send an alert once in a minute and if alertmanager stops working amixr will detect that it
    doesn't work and notify you about that.</p>
<ol>
    <li>Add the alert generating script to prometheus.yaml file
        Within prometheus it is trivial to create an expression that we can build a heartbeat with Amixr
        expr: vector(1)
        <p>That expression will always return true. Here is an alert that leverages the previous expression to create a
            heartbeat alert</p>
        <pre><code>
            groups:
            - name: meta
                rules:
                - alert: heartbeat
                  expr: vector(1)
                  labels:
                    severity: none
                  annotations:
                    description: This is heartbeat alert
                    summary: Alerting Amixr
        </code></pre>
    </li>
    <li>Add receiver configuration to prometheus.yaml with the unique url from Amixr global
        <pre><code>
            ...
            route:
            ...
                routes:
                - match:
                    alertname: heartbeat
                  receiver: 'amixr-heartbeat'
                  group_wait: 0s
                  group_interval: 1m
                  repeat_interval: 50s
            receivers:
            - name: 'amixr-heartbeat'
            webhook_configs:
            - url: {{ heartbeat_url }}
                send_resolved: false
        </code></pre>
    </li>
</ol>