.token__inputContainer {
  width: 100%;
  display: flex;
}

.token__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.token__copyButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field {
  flex-grow: 1;
}