.modal {
  width: 840px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-height: 550px;
  overflow: auto;
  scroll-snap-type: y mandatory;
  padding: 0 10px 10px 0;
  min-width: 840px;
}

.cards_centered {
  justify-content: center;
  align-items: center;
}

.card {
  width: 240px;
  height: 88px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  gap: 20px;
}

.card_featured {
  width: 768px;
}

.tag {
  top: 28px;
  right: 28px;
  position: absolute;
}

.title {
  margin: 10px 0 10px 0;
  max-width: 500px;
}

.footer {
  display: block;
  margin-top: 10px;
}

.search-integration {
  width: 400px;
  margin-bottom: 24px;
}
