.body {
  width: 100%;
  position: relative;
}

.responders-list {
  list-style-type: none;
  margin-bottom: 20px;
  width: 100%;

  & > li .hover-button {
    display: none;
  }

  & > li:hover .hover-button {
    display: inline-flex;
  }

  & > li {
    padding: 10px 12px;
    width: 100%;
  }

  & > li:hover {
    background: var(--background-secondary);
  }
}

.timeline-icon-background {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--timeline-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 100%;
    height: 100%;
  }

  &--green {
    background: #299c46;
  }
}

.responder-name {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

.confirm-participant-invitation-modal {
  max-width: 550px;
}

.confirm-participant-invitation-modal-select {
  display: inline-flex;
  margin: 0px 4px;
}

.learn-more-link {
  display: inline-block;
}
