.modal {
  width: 860px; /* wide enough so that all tabs fit in */
}

.modal.modal-wide {
  --spacing: 10px;

  width: calc(100% - var(--spacing) * 2); /* allow lateral spacing */
  max-width: 1100px;
}
