.root {
  margin-top: 24px;
}

.quality__type_success {
  color: var(--warning-text-color);
}

.schedule {
  position: relative;
  margin: 20px 0;
}

.root .expanded-row {
  background: var(--secondary-background);
}
