.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-star-icon {
  margin-right: 4px;
}

.navbar-heading {
  padding: 4px;
  margin: 0 0 0 8px;
  border: 1px solid var(--gray-9);
  width: initial;
  font-size: 12px;
}

.navbar-link {
  display: flex;
  align-items: center;
}
