$border-radius: 2px;

@mixin progressBar($color) {
  background-color: $color;
  border-radius: $border-radius;
  height: 8px;
}

.c-progressBar__wrapper {
  width: 100%;
  height: 8px;
  display: flex;
  gap: 1px;
  border-radius: $border-radius;
}

.c-progressBar__bar {
  height: 8px;
}

.c-progressBar__bar--warning {
  background-color: var(--tag-warning);
}
.c-progressBar__bar--error {
  background-color: var(--tag-danger);
}
.c-progressBar__bar--primary {
  background-color: var(--tag-primary);
}

.c-progressBar__row {
  background-color: var(--gray-8);

  &--progress:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &--progress:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
