$padding: 24px;
$width: 325px;

.root {
  width: $width;
}

.row {
  display: flex;
  flex-direction: column;
}

.indent-left {
  display: flex;
  flex-direction: column;
  padding-left: $padding;
}

.text {
  word-wrap: break-word;
  padding-left: $padding;
}

.email {
  max-width: calc($width - $padding);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-break {
  width: 100%;
  border-top: 1px solid var(--always-gray);
  opacity: 15%;
}
