$padding: 8px;
$width: 280px;

.root {
  width: $width;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  &--withPadding {
    padding-top: $padding;
  }
}

.header {
  padding-bottom: calc($padding / 2);
}
.header__subText {
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-bottom: 4px;
}

.line-break {
  width: 100%;
  border-top: 1px solid var(--always-gray);
  margin-top: 8px;
  opacity: 15%;
}

.metholodogy {
  padding: 4px 0px;
}

.text {
  word-wrap: break-word;
  padding-left: 24px;
}

.email {
  max-width: calc($width - $padding);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
