.root {
  background: var(--rotations-background);
  border: var(--rotations-border);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.header {
  padding: 12px;
}

.current-time {
  position: absolute;
  width: 1px;
  background: var(--gradient-brandVertical);
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: left 500ms ease;
}

.layer {
  padding-bottom: 8px;
}

.layer-first {
  padding-top: 32px;
}

.layer-title {
  margin: 8px;
}

.rotations-plus-title {
  display: flex;
  flex-direction: column;
}

.header-plus-content {
  position: relative;
}

.add-rotations-layer {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  padding: 12px;
  cursor: pointer;
}

.add-rotations-layer:hover {
  background: var(--secondary-background);
}

/*
animation
*/

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
