.input {
  margin-bottom: 16px;
}

.content-right {
  margin-left: auto;
}

.field-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.content {
  width: 100%;
  min-height: 100px;
}
