.select {
  width: 400px;
}

.action-buttons {
  width: 100%;
  justify-content: flex-end;
}

.filters {
  margin-bottom: 20px;
}

.fields-dropdown {
  gap: 8px;
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-left: 4px;
}

.above-incidents-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-scroll-table table td:global(.rc-table-cell) {
  white-space: nowrap;
  padding-right: 16px;
}

.bulk-actions-container {
  margin: 10px 0 10px 0;
  display: flex;
  width: 100%;
}

.bulk-actions-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.other-users {
  color: var(--secondary-text-color);
}

.pagination {
  width: 100%;
  margin-top: 20px;
}

.title {
  margin-bottom: 24px;
  right: 0;
}

.btn-results {
  margin-left: 8px;
}

/* filter cards */

.cards {
  margin-top: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 16px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.loadingPlaceholder {
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 800px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
