.select {
  width: 400px;
}

.action-buttons {
  width: 100%;
  justify-content: flex-end;
}

.filters {
  margin-bottom: 20px;
}

.above-incidents-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bulk-actions {
  margin: 10px 0 10px 0;
}

.other-users {
  color: var(--secondary-text-color);
}

.silence-button-inline {
  font-size: 12px;
  height: 24px;
  margin-right: 0;
}

.pagination {
  width: 100%;
  margin-top: 20px;
}

.title {
  margin-bottom: 24px;
  right: 0;
}
