.root {
  position: fixed;
  width: 750px;
  max-width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  border-image: initial;
  outline: none;
  padding: 15px;
  background: var(--background-primary);
  border: var(--border-weak);
  box-shadow: var(--shadows-z3);
  border-radius: 2px;
  z-index: 10;

  /* overflow: scroll; */
}

/*

.overlay {
  position: relative;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1px);
}

.body-open {
  overflow: hidden;
}

 */
