.root {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.avatarSize-xs {
  width: 12px;
  height: 12px;
}

.avatarSize-small {
  width: 16px;
  height: 16px;
}

.avatarSize-medium {
  width: 24px;
  height: 24px;
}

.avatarSize-large {
  width: 32px;
  height: 32px;
}
