.newNavbar {
  margin-top: -24px;
}

.incident-row {
  display: flex;
}

.incident-row-left {
  flex-grow: 1;
}

.payload-subtitle {
  margin-bottom: var(--title-marginBottom);
}

.info-row {
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 220, 0.15);
  padding-bottom: 20px;
}

.buttons-row {
  margin-top: 20px;
}

.content {
  margin-top: 24px;
  display: flex;
}

.message {
  margin-top: 16px;
}

.message a {
  word-break: break-all;
}

.message ul {
  margin-left: 24px;
}

.message p {
  margin-bottom: 0;
}

.message code {
  white-space: break-spaces;
}

.image {
  margin-top: 16px;
  max-width: 100%;
}

.collapse {
  margin-top: 16px;
  position: relative;
}

.column {
  width: 50%;
  padding-right: 24px;
}

.column:not(:first-child) {
  padding-left: 24px;
}

.column:first-child {
  border-right: 1px solid rgba(204, 204, 220, 0.25);
}

.incidents-content > div:not(:last-child) {
  border-bottom: 1px solid rgba(204, 204, 220, 0.25);
  padding-bottom: 16px;
}

.incidents-content > div:not(:first-child) {
  padding-top: 16px;
}

.timeline {
  list-style-type: none;
  margin: 0 0 24px;
}

.timeline-item {
  margin-top: 12px;
}

.not-found {
  margin: 50px auto;
  text-align: center;
}

.timeline-icon-background {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--timeline-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background: var(--timeline-icon-background-resolution-note);
}

.timeline-title {
  margin-bottom: 24px;
}

.timeline-filter {
  margin-bottom: 24px;
}
