:root {
  --green-6: #73d13d;
  --gray-9: #434343;
  --cyan-1: #e6fffb;
  --border-radius: 2px;
  --gradient-brandVertical: linear-gradient(0.01deg, #f53e4c -31.2%, #f83 113.07%);
  --always-gray: #ccccdc;
  --title-marginBottom: 16px;
  --opacity: 0.5;
}

.theme-light {
  --cards-background: rgba(244, 245, 245);
  --highlighted-row-bg: var(--cyan-1);
  --primary-background: rgb(255, 255, 255);
  --secondary-background: rgb(244, 245, 245);
  --border: 1px solid rgba(36, 41, 46, 0.12);
  --primary-text-color: rgb(36, 41, 46);
  --secondary-text-color: rgba(36, 41, 46, 0.75);
  --disabled-text-color: rgba(36, 41, 46, 0.5);
  --warning-text-color: #f5b73d;
  --success-text-color: #1a7f4b;
  --error-text-color: #ff5286;
  --primary-text-link: #1f62e0;
  --timeline-icon-background: rgba(70, 76, 84, 0);
  --oncall-icon-stroke-color: #fff;
  --hover-selected: #f4f5f5;
  --background-canvas: #f4f5f5;
  --background-secondary: #f4f5f5;
  --background-disabled: rgba(204, 204, 220, 0.11);
  --border-medium-color: rgba(36, 41, 46, 0.3);
  --border-medium: 1px solid rgba(36, 41, 46, 0.3);
  --border-strong: 1px solid rgba(36, 41, 46, 0.4);
  --border-weak: 1px solid rgba(36, 41, 46, 0.12);
  --shadows-z3: 0 13px 20px 1px rgba(24, 26, 27, 0.18);
  --button-background: rgba(36, 41, 46, 0.08);
  --button-hover-background: rgba(36, 41, 46, 0.15);
  --box-background: rgba(244, 245, 245);
  --working-hours-shades-color: rgba(17, 18, 23, 0.15);
  --working-hours-shades-color-light: rgba(17, 18, 23, 0.04);
}

.theme-dark:not(.theme-light) {
  --cards-background: var(--gray-9);
  --highlighted-row-bg: var(--gray-9);
  --disabled-button-color: hsla(0, 0%, 100%, 0.08);
  --primary-background: rgb(24, 27, 31);
  --secondary-background: rgb(34, 37, 43);
  --border: 1px solid rgba(204, 204, 220, 0.15);
  --primary-text-color: rgb(204, 204, 220);
  --secondary-text-color: rgba(204, 204, 220, 0.65);
  --disabled-text-color: rgba(204, 204, 220, 0.4);
  --warning-text-color: #f5b73d;
  --success-text-color: #1a7f4b;
  --error-text-color: #ff5286;
  --primary-text-link: #6e9fff;
  --timeline-icon-background: rgba(70, 76, 84, 1);
  --timeline-icon-background-resolution-note: rgba(50, 116, 217, 1);
  --focused-box-shadow: rgb(17 18 23) 0 0 0 2px, rgb(61 113 217) 0 0 0 4px;
  --hover-selected: rgba(204, 204, 220, 0.12);
  --hover-selected-hardcoded: #34363d;
  --oncall-icon-stroke-color: #181b1f;
  --background-canvas: #111217;
  --background-secondary: #22252b;
  --background-disabled: rgba(204, 204, 220, 0.04);
  --border-medium-color: rgba(204, 204, 220, 0.15);
  --border-medium: 1px solid rgba(204, 204, 220, 0.15);
  --border-strong: 1px solid rgba(204, 204, 220, 0.25);
  --border-weak: 1px solid rgba(204, 204, 220, 0.07);
  --shadows-z3: 0 8px 24px rgb(1, 4, 9);
  --box-background: rgba(10, 10, 10, 0.4);
  --working-hours-shades-color: rgba(17, 18, 23, 0.15);
  --working-hours-shades-color-light: rgba(17, 18, 23, 0.1);
}
