.root {
  height: 28px;
  background: #595959;
  border-radius: 2px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 1px;
  padding: 4px;
  align-items: center;
  transition: opacity 0.2s ease;
}

.working-hours {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex-shrink: 0;
}

.root__type_gap {
  background: rgba(209, 14, 92, 0.2);
  border: 1px dashed #ff5286;
  color: rgba(209, 14, 92, 0.5);
  visibility: hidden;
}

.root__inactive {
  opacity: 0.3;
}

.title {
  z-index: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}

.label {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  display: inline-block;
  padding: 2px 4px;
  line-height: 16px;
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
  margin-right: 5px;
  flex-shrink: 0;
}

.details {
  width: auto;
  max-width: 250px;
}

.details-user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.details-user-status__type_success {
  background-color: var(--success-text-color);
}

.time {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: white;
  z-index: 2;
}

.is-oncall-icon {
  color: var(--oncall-icon-stroke-color);
  margin-left: -2px;
}

.badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
