.user-item {
  margin-bottom: 15px;
}

.user-value {
  font-size: 16px;
}

.iCal-settings {
  display: block;
}

.iCal-button {
  margin-top: 24px;
}

.iCal-link-container {
  margin-top: 8px;
}

.iCal-link {
  display: block;
  border-radius: 2px;
  border: var(--border);
  padding: 4px;
  background-color: var(--secondary-background);
  overflow-wrap: break-word;
}

.warning-icon {
  color: var(--warning-text-color);
}

.error-message {
  color: var(--error-text-color);
}
