.template-block-title {
  padding: 16px 16px 16px 0;
  align-items: baseline;
  height: 56px;
}

.template-block-list {
  width: 30%;
  height: 100%;
}

.alert-group-payload-view {
  background-color: var(--primary-background);
  border: none;
  padding-left: 0;
}

.alert-groups-list > div {
  border-right: none;
}

.alert-groups-list button {
  padding-left: 0;
}
