.escalation-variants-dropdown {
  border: var(--border-medium);
  position: absolute;
  background: var(--primary-background);
  width: 340px;
  z-index: 10;
}

.assign-responders-picker {
  padding: 8px 8px;
  background: var(--primary-background);
  height: 196px;
}

.assign-responders-list {
  height: 146px;
  overflow: auto;
}

.assign-responders-item {
  overflow: scroll;
}

.table {
  height: 120px;
  overflow: auto;

  & tr:hover {
    background: var(--background-secondary) !important;
  }

  & tbody tr:nth-child(odd) {
    background: unset;
  }
}

.responders-filters {
  margin: 8px;
}

.responder-item {
  cursor: pointer;
  width: 280px;
  overflow: hidden;
}

.body {
  width: 100%;
}

.responders-list {
  list-style-type: none;
  margin-bottom: 20px;
  width: 100%;

  & > li .hover-button {
    display: none;
  }

  & > li:hover .hover-button {
    display: inline-flex;
  }

  & > li {
    padding: 10px 12px;
    width: 100%;
  }

  & > li:hover {
    background: var(--background-secondary);
  }
}

.timeline-icon-background {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--timeline-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 100%;
    height: 100%;
  }

  &--green {
    background: #299c46;
  }
}

.radio-buttons {
  margin: 8px;
}

.select {
  width: 150px !important;
}

.responder-name {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
}
