name: Build engine Docker image and publish to Dockerhub

on:
  workflow_call:
    inputs:
      engine_version:
        required: false
        type: string
      docker_image_tags:
        required: true
        type: string

jobs:
  build-engine-docker-image-and-publish-to-dockerhub:
    name: Build engine Docker image and publish to Dockerhub
    runs-on: ubuntu-latest
    # These permissions are needed to assume roles from Github's OIDC.
    # https://github.com/grafana/shared-workflows/tree/main/actions/build-push-to-dockerhub
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Set engine version number in settings file
        uses: ./.github/actions/set-engine-version-in-settings
        with:
          working_directory: .
          engine_version_number: ${{ inputs.engine_version }}
          settings_file_path: engine/settings/base.py
      - name: Build engine Docker image and push to Dockerhub
        # TODO: change back to grafana/shared-workflows once this PR is merged
        # https://github.com/grafana/shared-workflows/pull/143
        # uses: grafana/shared-workflows/actions/build-push-to-dockerhub@main
        uses: joeyorlando/shared-workflows/actions/build-push-to-dockerhub@2cd8f06917d985a0f83176e6e439f69398c8d6e8
        with:
          context: engine/
          push: true
          platforms: linux/arm64/v8,linux/amd64
          tags: ${{ inputs.docker_image_tags }}
          build-args: |
            BUILDKIT_INLINE_CACHE=1
          target: prod
          cache-from: grafana/oncall:latest
