name: Update grafana/helm-charts repo

on:
  push:
    branches:
      - main
    paths:
      - helm/oncall/Chart.yaml

jobs:
  call-update-helm-repo:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@f7a5e39886fd355fb76046ad4ea870aacc6d6823
    permissions:
      id-token: write
      contents: write
      packages: write
    with:
      charts_dir: helm
      cr_configfile: helm/cr.yaml
      ct_configfile: helm/ct.yaml
    secrets:
      vault_repo_secret_name: github-app
