name: On issue closed

on:
  issues:
    types:
      - closed

jobs:
  remove-needs-triage-label:
    name: Remove "needs triage" label
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Remove "needs triage" label
        uses: actions-ecosystem/action-remove-labels@2ce5d41b4b6aa8503e285553f75ed56e0a40bae0 #v1.3.0
        with:
          labels: needs triage
